body{
	background-color:#f3ffe6;
	text-align:center;
}
	header {
		text-align:center;
	}


	ol{
		list-style-type:none; margin:0; padding:0; overflow:hidden; background-color:#333;
	}
	li{
		float:left;
	}
	li a {
		display:block; color:white; text-align:center; padding:14px 16px; text-decoration: none;
	}
	li a:hover {
		background-color:#f2f2f2;
		color:#666666;
	}
	.active{
		background-color:#4caf50;
	}
	 .last  {
	float:right;
}
main header{
	font-weight:bold;
}
h2{
	text-align: center;
	color:#666666;
	font-weight:bold;
	 
}
div{
	display:inline-block;
}
div.office{
	background-color:#daffb3;
	padding:10px;
	border:1px #daffb3;
}
div.dining{
	background-color:#daffb3;
	padding:10px;
	border:1px #daffb3;
}
div.lounge{
	background-color:#daffb3;
	padding:10px;
	border:1px #daffb3;
}
div.bedroom{
	background-color:#daffb3;
	padding:10px;
	border:1px #daffb3;
}
div.spare{
	background-color:#daffb3;
	padding:10px;
	border:1px #daffb3;
}
div.articles{
	background-color:#daffb3;
	padding:10px;
	border:1px #daffb3;
}

	footer {
	clear: both;
	padding: 1.5em 3em;
	background: #ffe6ff;
	text-align:center;
}

iframe{
	float:center;
	border:none;

}



footer p {
	margin: 0;
}


